<!DOCTYPE html>
<html>
  <head>
    <link href='https://fonts.googleapis.com/css?family=Raleway:400,700|Roboto+Slab:400,700,300' rel='stylesheet' type='text/css'>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Chute It</title>
    <link href="index.css" rel="stylesheet" type='text/css'>
    <meta name="Description" content="Chute It is a web service that manages content and allows users to listen on changes to do other things with their content.">
    <meta name="viewport" content="user-scalable=no,width=device-width">
  </head>
  <body>
    <div class="container">
      <header>
        <h1 class="site-title">Chute it!</h1>
        <nav class="site-nav">
          <ul>
            {{#sections}}
            {{#showInNav}}
            <li><a class="nav-link" href="#{{id}}">{{title}}</a></li>
            {{/showInNav}}
            {{/sections}}
          </ul>
        </nav>
      </header>
      <article>
        <section class="content-section main-section">{{{home.content}}}</section>
        {{#sections}}
          <h2 class="section-title" id="{{id}}">{{title}}</h2>
          <section class="content-section {{id}}-section">{{{content}}}</section>
        {{/sections}}
      </article>
    </div>
  </body>
</html>
